<div class="elementor-element elementor-element-431707a e-flex e-con-boxed e-con e-parent" data-id="431707a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-7671b54 e-con-full e-flex e-con e-child" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-2f3bd83 elementor-widget elementor-widget-heading" id="requestForm" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">Request a Quote</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-7cd7504 elementor-widget elementor-widget-text-editor" data-id="7cd7504" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    Ready to Work Together? Build a project with us!
                </div>
            </div>
            <div class="elementor-element elementor-element-b60bcfc elementor-widget elementor-widget-wpforms" data-id="b60bcfc" data-element_type="widget" data-widget_type="wpforms.default">
                <div class="elementor-widget-container">
                    <div class="wpforms-container" id="requestFormContainer">
                        {% include 'front-end/home/_request_content.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-d118cc3 e-con-full e-flex e-con e-child" data-id="d118cc3" data-element_type="container">
            <div class="elementor-element elementor-element-e367a10 elementor-widget elementor-widget-heading" data-id="e367a10" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h4 class="elementor-heading-title elementor-size-default">Learn More From</h4>
                </div>
            </div>
            <div class="elementor-element elementor-element-e05ea9a elementor-widget elementor-widget-heading" data-id="e05ea9a" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-70cf52e elementor-widget elementor-widget-accordion" data-id="70cf52e" data-element_type="widget" data-widget_type="accordion.default">
                <div class="elementor-widget-container">
                    <div class="elementor-accordion">
                        <div class="elementor-accordion-item">
                            <div id="elementor-tab-title-1181" class="elementor-tab-title elementor-active" data-tab="1" role="button" aria-controls="elementor-tab-content-1181" aria-expanded="true" tabindex="0" aria-selected="true">
                                    <span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
                                        <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                        <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                    </span>
                                <a class="elementor-accordion-title" tabindex="0">1. Why do I need a real estate agent?</a>
                            </div>
                            <div id="elementor-tab-content-1181" class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1" role="region" aria-labelledby="elementor-tab-title-1181" style="display: block;">
                                <p>Notice that we don’t ask “Do I”, but “Why do I”. This leaves people no out. 
                                Even phrasing the question this way reassures people that this is a service that they need. 
                                Now is your chance to elaborate on the why by pointing out all of the things that you do. 
                                Namely, focus on how buying and selling properties is your job and you’ve been doing it for years. 
                                You can take all the stress off people’s plates, etc. 
                                Take this opportunity to sell yourself and your real estate business so that people will get in touch with you without hesitation.  
                                </p>                           
                            </div>
                        </div>
                        <div class="elementor-accordion-item">
                            <div id="elementor-tab-title-1182" class="elementor-tab-title" data-tab="2" role="button" aria-controls="elementor-tab-content-1182" aria-expanded="false">
                                    <span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
                                        <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                        <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                    </span>
                                <a class="elementor-accordion-title" tabindex="0">2. Do I need a home inspection?</a>
                            </div>
                            <div id="elementor-tab-content-1182" class="elementor-tab-content elementor-clearfix" data-tab="2" role="region" aria-labelledby="elementor-tab-title-1182">
                               <p>Home inspections are not always mandated as a part of the home buying process. 
                               Yet, they’re one of the most valuable resources that homeowners have at their fingertips and should be done on every property. 
                               It’s important to encourage this for your homeowners, but more important for you to use this particular answer to explain all the perks of having a home inspection.
                               For just a few hundred dollars, in most cases, people can get a detailed look at the house they want to buy and know exactly what they’re getting into.</p> 
                               <p>It isn’t necessarily required, but it’s certainly a great way to get peace of mind, 
                               even for those who spend upwards of $1,000 on an inspection. 
                               It’s still only a fraction of the price of the house and worth every penny for the peace of mind.
                               </p>
                            </div>
                        </div>
                        <div class="elementor-accordion-item">
                            <div id="elementor-tab-title-1183" class="elementor-tab-title" data-tab="3" role="button" aria-controls="elementor-tab-content-1183" aria-expanded="false">
                                    <span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
                                        <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                        <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                    </span>
                                <a class="elementor-accordion-title" tabindex="0">3. What are “closing costs”?</a>
                            </div>
                            <div id="elementor-tab-content-1183" class="elementor-tab-content elementor-clearfix" data-tab="3" role="region" aria-labelledby="elementor-tab-title-1183">
                                <p>The term “closing costs” is vague. A lot of people know that it’s part of buying a house, 
                                but they might not understand what all the different fees and costs are for. 
                                This is your chance to explain exactly what is included in the closing costs, as well as how much people can expect to spend here.
                                Although it’s different for each sale, you can usually estimate or suggest a percentage of the sale that will go toward closing costs to help people get a better estimate. 
                                Again, this is more about being transparent than actually providing a definite answer to the question at hand.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
