.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-opened, .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-closed {
    display: none !important;
}

.elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-opened {
    display: block !important;
}

.margin-left{
    margin-left: 35px;
}

.elementor-widget.elementor-align-left .elementor-icon-list-item a{
    color: #f8b526 !important;
}

.elementor-element .read-more {
    padding-bottom: 20px;
}

.elementor-7 .elementor-element.elementor-element-c31875b{
    border: 1px solid #e1e1e1 !important;
}

.elementor-15 .elementor-element.elementor-element-28b9c6b {
    --justify-content: none !important;
}

.single-image {
    display: flex;
    justify-content: space-around;
}

.elementor-13 .elementor-element.elementor-element-9b5c045 {
    width: 100% !important;
}

.flash-messages {
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 

#ast-desktop-header .alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
    position: absolute;
    z-index: 10;
  } 

.elementor-element-a602a15 .e-con-inner {
    display: flex;
    gap: 20px;
}

.elementor-7 .elementor-element.elementor-element-faf2b5d:not(.elementor-motion-effects-element-type-background) {
    background-image: none !important;  
}

.elementor-7 .elementor-element.elementor-element-faf2b5d {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 400px !important;
}

.elementor-7 .elementor-element.elementor-element-900a2dd {
    width: 100%;
    position: absolute;
}

.elementor-7 .elementor-element.elementor-element-900a2dd .elementor-icon-box-description {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.elementor-13 .elementor-element.elementor-element-93154b4.elementor-position-top .elementor-image-box-img {
    margin: 0 !important;
    margin-bottom: 15px !important;
}

.elementor-13 .elementor-element.elementor-element-93154b4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 24% !important;
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin-bottom: 15px;
}