.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-opened, .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-closed {
    display: none !important;
}

.elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-opened {
    display: block !important;
}

.margin-left{
    margin-left: 35px;
}

.elementor-widget.elementor-align-left .elementor-icon-list-item a{
    color: #f8b526 !important;
}

.elementor-element .read-more {
    padding-bottom: 20px;
}

.elementor-7 .elementor-element.elementor-element-c31875b{
    margin-top: 25px;
    border: 1px solid #e1e1e1 !important;
}

.elementor-7 .elementor-element.elementor-element-b4ededb .elementor-heading-title {
    font-weight: 700;
}

.elementor-7 .elementor-element.elementor-element-7bca866 .elementor-heading-title {
    font-weight: 100;
}

.elementor-15 .elementor-element.elementor-element-28b9c6b {
    --justify-content: none !important;
}

.single-image {
    display: flex;
    justify-content: space-around;
}

.elementor-13 .elementor-element.elementor-element-9b5c045 {
    width: 100% !important;
}

.flash-messages {
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 

#ast-desktop-header .alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
    position: absolute;
    z-index: 10;
  } 

.elementor-element-a602a15 .e-con-inner {
    display: flex;
    gap: 20px;
}

.elementor-7 .elementor-element.elementor-element-faf2b5d:not(.elementor-motion-effects-element-type-background) {
    background-image: none !important;  
}

.elementor-7 .elementor-element.elementor-element-faf2b5d {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 300px;
}

.elementor-7 .elementor-element.elementor-element-900a2dd {
    width: 100% !important;
    position: absolute !important;
}

.team-box-wrapper {
    width: 70% !important;
}

.elementor-13 .elementor-element.elementor-element-93154b4.elementor-position-top .elementor-image-box-img {
    margin: 0 !important;
    margin-bottom: 15px !important;
}

.elementor-13 .elementor-element.elementor-element-93154b4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 24% !important;
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin-bottom: 15px;
}

.custom-logo-link .site-logo-img {
    display: flex;
    align-items: center;
}

.vision {
    letter-spacing: 1px;
    display: inline-block;
    width: 50%;
    font-weight: 800;
    line-height: initial;
    font-size: medium;
    padding-left: 10px;
}

.elementor-7 .elementor-element.elementor-element-c311d28:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-c311d28>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: none !important;
}

.about-founder {
    background-color: #323B4F;
}

.founder {
  height: 100% !important; 
  width: 100% !important; 
  border-radius:16px !important;
}

.elementor-7 .elementor-element.elementor-element-faf2b5d::before {
    background-image:none !important;
}

.team-title, .team-description { 
    color: black !important;
}

.team {
    border-radius: 11px;
    text-align: center;
    background-color: #ffffff;
}

.elementor-15 .elementor-element.elementor-element-0c181ac iframe {
    height: 562px !important;
    filter: none !important;
}

.elementor-element.elementor-element-7671b54:not(.elementor-motion-effects-element-type-background) {
    background-color: var(--e-global-color-astglobalcolor2);
}

.elementor-element.elementor-element-2f3bd83 .elementor-heading-title {
    color: #ffffff;
}

.elementor-element.elementor-element-7cd7504 {
    color: #ffffff;
}

.request #request_message{
    height: 60px;
}

.elementor-widget-google_maps {
    height: 525px !important;
}

.elementor-widget-google_maps .elementor-custom-embed {
    height: 100% !important;
}

.menu-link {
    color: #ffffff;
}

.site-below-footer-wrap {
    padding-top: 0;
    padding-bottom: 0;
}

.quality-services {
    color:#ffc03d !important;
}

.elementor-7 .elementor-element.elementor-element-431707a, .elementor-11 .elementor-element.elementor-element-431707a {
    padding-top: 150px;
}

#menu-item {
    list-style-type:disc !important;
    /* margin-left: 30px; */
}

#projectListing {
    padding-block-end: 100px;
}

#ast-hf-menu-1 {
  font-size: medium;
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-bg: #fff;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    height: calc(100% - var(--bs-modal-margin) * 2);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden;
  }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
  }
  
  .modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
  }
  
  .modal-header {
    color: white;
    background-color: #ffc03d;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: -2px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    padding-bottom: 20px;
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  }
  .modal-header .btn-close {
    background-color: transparent !important;
    padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
    margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
  }
  
  .modal-title {
    margin-bottom: 0 !important ;
    line-height: var(--bs-modal-title-line-height);
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
  }
  
  .modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
    background-color: var(--bs-modal-footer-bg);
    border-top: 1px solid #e7e7e7;
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  }
  .modal-footer > * {
    margin: calc(var(--bs-modal-footer-gap) * 0.5);
  }
  
  @media (min-width: 576px) {
    .modal {
      --bs-modal-margin: 1.75rem;
      --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .modal-dialog {
      max-width: var(--bs-modal-width);
      margin-right: auto;
      margin-left: auto;
    }
    .modal-sm {
      --bs-modal-width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      --bs-modal-width: 800px;
    }
  }
  @media (min-width: 1200px) {
    .modal-xl {
      --bs-modal-width: 1140px;
    }
  }
  .modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen .modal-header,
  .modal-fullscreen .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen .modal-body {
    overflow-y: auto;
  }
  
  @media (max-width: 575.98px) {
    .modal-fullscreen-sm-down {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    .modal-fullscreen-sm-down .modal-header,
    .modal-fullscreen-sm-down .modal-footer {
      border-radius: 0;
    }
    .modal-fullscreen-sm-down .modal-body {
      overflow-y: auto;
    }
  }
  @media (max-width: 767.98px) {
    .modal-fullscreen-md-down {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
    }
    .modal-fullscreen-md-down .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    .modal-fullscreen-md-down .modal-header,
    .modal-fullscreen-md-down .modal-footer {
      border-radius: 0;
    }
    .modal-fullscreen-md-down .modal-body {
      overflow-y: auto;
    }
  }
  @media (max-width: 991.98px) {
    .modal-fullscreen-lg-down {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
    }
    .modal-fullscreen-lg-down .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    .modal-fullscreen-lg-down .modal-header,
    .modal-fullscreen-lg-down .modal-footer {
      border-radius: 0;
    }
    .modal-fullscreen-lg-down .modal-body {
      overflow-y: auto;
    }
  }
  @media (max-width: 1199.98px) {
    .modal-fullscreen-xl-down {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
    }
    .modal-fullscreen-xl-down .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    .modal-fullscreen-xl-down .modal-header,
    .modal-fullscreen-xl-down .modal-footer {
      border-radius: 0;
    }
    .modal-fullscreen-xl-down .modal-body {
      overflow-y: auto;
    }
  }
  @media (max-width: 1399.98px) {
    .modal-fullscreen-xxl-down {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
    }
    .modal-fullscreen-xxl-down .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    .modal-fullscreen-xxl-down .modal-header,
    .modal-fullscreen-xxl-down .modal-footer {
      border-radius: 0;
    }
    .modal-fullscreen-xxl-down .modal-body {
      overflow-y: auto;
    }
  }

  /* Ensure Swiper styles are applied */
/* .swiper-container {
  width: 100%;
  height: 100%;
} */

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-control-prev:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.carousel-control-next:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}

.btn:hover {
  color: black !important;
  background-color: #ecb132 !important;
  border-color: #ecb132 !important;
}
 .btn-default {
  color: black !important;
  background-color: #ffc03d !important;
  border-color: #ffc03d !important;
 }

 .custom-logo {
  border-radius: 5px;
 }

 .carousel-control-next:focus {   
    background-color: transparent;
    border-color: transparent;
}

a :hover{
  color: #f8b526;
}

@media (max-width: 767px) {
  .e-con.e-flex {
      width: 100%;
      /* flex-wrap: nowrap !important; */
  }
}

@media (max-width: 780px) {
  .elementor-11 .elementor-element.elementor-element-09c03a8 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100% !important;
  }

  .elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    width: 100% !important;
    padding-left: 0px !important;
  }

  .service-content {
    flex-direction: column;
  }

  .service-description {
    width: 100% !important;
  }

  .about-content {
    gap: 0px !important;
    flex-direction: column;
  }

  .e-con-inner {
    margin-left: 0px;
  }

  .elementor-widget-image-box .elementor-image-box-wrapper {
    flex-direction: column;
  }

  .elementor-13 .elementor-element.elementor-element-93154b4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100% !important;
  }

  .elementor-element-7671b54 {
    padding: 15px;
  }

  .elementor-widget-google_maps {
    height: 270px !important;
  }

  .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"].footer-widget-area-inner,.footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner,.footer-widget-area[data-section="sidebar-widgets-footer-widget-3"].footer-widget-area-inner,.footer-widget-area[data-section="sidebar-widgets-footer-widget-4"].footer-widget-area-inner {
    text-align: start !important;
  }

  .menu-link {
    margin-left: 20px;
  }

  #block-15 {
    margin-top: 20px;
  }

  .site-content {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .ast-custom-button {
    padding: 13px;
    margin-right: 5px;
  }

  .elementor-element-cde39a1 {
    padding: 0px;
  }

.ast-mobile-header-content {
    display: none;
  }

  .ast-mobile-header-content.is-open {
    display: block;
  }

  .ast-mobile-svg.ast-visible {
    display: inline-block;
  }

  .ast-mobile-svg:not(.ast-visible) {
    display: none;
  }
  
  .menu-item-object-page {
    width: 100%;
  }

  .ast-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .site-link {
    margin: 5px;
    padding: 5px !important;
  }

  .flash-messages {
    width: 100%;
    position: absolute;
    z-index: 5;
  }

  .alert-success {
    padding: 4px;
  }
}

.elementor-element-1cc3882 a :hover {
  color: #ffffff;
}
