{% extends 'front-end/layout.html.twig' %}

{% block body %}
    <div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9">
        <div class="elementor-element elementor-element-1b6161c e-flex e-con-boxed e-con e-parent">
            <div class="e-con-inner">
                <div class="e-con-full e-flex e-con e-child" >
                    <div class="elementor-element elementor-element-2ff45f2 elementor-widget-heading">
                        <h1 class="elementor-heading-title elementor-size-default">Projects</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-3a31dfd e-flex e-con-boxed e-con e-parent pb-5">
            <div class="e-con-inner">
                <div class="e-con-full e-flex e-con e-child">
                    <div class="elementor-element elementor-element-239a3f9 elementor-widget-heading">
                        <h3 class="elementor-heading-title">Our Projects</h3>
                    </div>
                    <div class="elementor-element elementor-element-fdd3d01 elementor-widget-heading">
                        <h2 class="elementor-heading-title elementor-size-default">Latest Works</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="projectListing">
            <div class="elementor-element elementor-element-46faa25 e-con-full e-flex e-con e-parent" data-total-items="{{ totalProjects ?? 0 }}" id="projectContent">
            {% if project %}
                {% for projects in project %}
                   {% include 'front-end/project/project_content.html.twig' %}
                {% endfor %}
                <div class="load-more-loader">
                    {% include 'gif/loader-gif.html.twig' with {w: 44, h: 100} %}
                </div>
            {% else %}
                <div class="no-results-row">
                    <h2>No content available</h2>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}