<a id="project-row-{{ projects.id }}" href="{{ path('project_show', {'slug': projects.slug}) }}" class="elementor-element elementor-element-1cc3882 e-con-full e-flex e-con e-child project-item">
    <div style="height: 250px">
        {% if projects.images.first()  == true %}
            <img src="{{ asset('image/' ~ projects.images.first.image) }}" class="h-100 w-100">
        {% endif %}
    </div>
    <div class="elementor-element elementor-element-11053e9 project-title elementor-widget-icon-box" >
        <h4 class="elementor-icon-box-title">
            <span>{{ projects.name }}</span>
        </h4>
    </div>
</a>
