 <footer class="py-4">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-muted">Copyright @KODMATRIX {{ "now"|date("Y") }}</div>
        </div>
    </div>
</footer>