<div class="modal fade delete-modal" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-header-default">
                <h5 class="modal-title">Delete</h5>
                <span class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong id="deleteName"></strong>?</p>
                <input type="hidden" id="Id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mr-10" data-bs-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>