<div class="images-div mt-30 d-flex pt-3">
    <div class="d-flex form-group">
{#        {{ form_widget(form.image) }}#}
    </div>
    <div class="image-remove-container">
        <button class="remove-image-item btn btn-outline-danger" tabindex="0"><i class="fa fa-trash"></i></button>
    </div>
</div>

