{% extends 'admin/backend_layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/admin/list.js') }}" ></script>
{% endblock %}    

{% block body %}
    <div class="text-color-grey mt-15">
        <h2>Request</h2>
    </div>

    <div class="pt-5">
        <table class="table table-bordered table-striped m-auto" id="request-list">
            <!-- Table header -->
            <thead>
            <tr class="text-color-grey text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
            </thead>
            <!-- Table body -->
            <tbody id="requestList" data-total-items="{{ totalRequests ?? 0 }}">
            {% if request is not empty %}
                {% for requests in request %}
                    {% include 'admin/request/list-items.html.twig' %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="no-records text-center" style="color: grey;">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="load-more-loader">
            {% include 'gif/loader-gif.html.twig' with {w: 44, h: 44} %}
        </div>
    </div>
{% endblock %}