{% extends 'front-end/layout.html.twig' %}

{% block body %}
    <div data-elementor-type="wp-page" data-elementor-id="13" class="elementor elementor-13">
        <div class="elementor-element elementor-element-19b8c8c e-flex e-con-boxed e-con e-parent" data-id="19b8c8c" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-372848a e-con-full e-flex e-con e-child" data-id="372848a" data-element_type="container">
                    <div class="elementor-element elementor-element-0ccf104 elementor-widget elementor-widget-heading" data-id="0ccf104" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">About Us</h1> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-8338255 e-flex e-con-boxed e-con e-parent" data-id="8338255" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-87eb59b e-con-full e-flex e-con e-child" data-id="87eb59b" data-element_type="container">
                    <div class="elementor-element elementor-element-925cef2 elementor-widget elementor-widget-heading" data-id="925cef2" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">About Us</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-012d882 elementor-widget elementor-widget-heading" data-id="012d882" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">We Are Leading International Company In The World</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-35ebd54 elementor-widget elementor-widget-text-editor" data-id="35ebd54" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container"><p>Vision Buildcon is an Ahmedabad based construction company and is planning to be one of the leading contractors in the construction segment.</p> </div>
                    </div>
                    <div class="elementor-element elementor-element-74abf08 elementor-widget elementor-widget-text-editor" data-id="74abf08" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">The company is earning recognition for undertaking large complex projects, fostering innovations , embracing emerging technologies and making a difference for the clients, employees and the community </div>
                    </div>
                    <div class="elementor-element elementor-element-d455eb2 elementor-widget elementor-widget-button" data-id="d455eb2" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('services_index') }}">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Our Services</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-120c976 e-con-full e-flex e-con e-child" data-id="120c976" data-element_type="container">
                    <div class="elementor-element elementor-element-945c26a elementor-view-stacked elementor-position-left elementor-widget-tablet__width-initial elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="945c26a" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                             <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-"><i aria-hidden="true" class="fa fa-building"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>Our Vision </span>
                                    </h3>
                                    <p class="elementor-icon-box-description">To be the highest value provider of construction services and technical expertise in the current market  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-cbcbfbc elementor-view-stacked elementor-position-left elementor-widget-tablet__width-initial elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="cbcbfbc" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-"><i aria-hidden="true" class="fas fa-landmark"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>Our Mission </span>
                                    </h3>
                                    <p class="elementor-icon-box-description">To be one of the premier engineering, construction, and project management organization by achieving extraordinary results for our customers, building satisfying careers for our people and earning a fair return on the value we deliver. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-4d4bdd5 e-flex e-con-boxed e-con e-parent" data-id="4d4bdd5" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child" data-id="bedb036" data-element_type="container">
                <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper align-items-center">
                            <div class="elementor-icon-box-content m-4">
                                <h3 class="elementor-heading-title elementor-size-default text-center">
                                    <span style="color: #ffc03d">COVENANT</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex pb-5" style="gap: 250px;">
            <div class="e-con-inner margin-left w-100">
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-sharp fa-solid fa-gears"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>DEMONSTRATE INTEGRITY</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">We at Vision Buildcon exercise the highest level of professional and ethical behavior</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-solid fa-hands-praying"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>RESPECTFUL</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Treating people with respect and dignity, listening actively, communicating in a timely manner and forthright manner.  We never undermine colleagues </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-solid fa-people-group"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>COLLABORATE</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Ask for and welcome help; offer and give it freely. Mutually resolve ambiguity and conflict</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-sharp fa-solid fa-hand-holding-heart"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>BUILD TRUST</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Make commitments responsibly and always keep our word. Be candid while building shared understanding.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="e-con-inner w-100">
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-sharp fa-solid fa-truck"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>DELIVER</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Set high aspirations, plan responsibly and honor all commitments </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa-solid fa-people-arrows"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>LEARN IT, DO IT, SHARE IT</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Be curious, seek, share, and build upon experiences and lessons learned .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bedb036 e-con-full e-flex e-con e-child mb-4" data-id="bedb036" data-element_type="container">
                    <div class="elementor-element elementor-element-9c3be2d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9c3be2d" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper align-items-center">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-  fs-5"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title fs-5">
                                        <span>LIVE YOUR CULTURE</span>
                                    </h3>
                                    <p class="elementor-icon-box-description fs-6">Embrace, embody and actively contribute to our vision, values and covenants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-f9744cf e-flex e-con-boxed e-con e-parent" data-id="f9744cf" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-91f6103 e-con-full e-flex e-con e-child" data-id="91f6103" data-element_type="container">
                    <div class="elementor-element elementor-element-a6a3419 elementor-widget elementor-widget-heading" data-id="a6a3419" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">The Team</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-1e6e685 elementor-widget elementor-widget-heading" data-id="1e6e685" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Our Experts</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-ab82582 e-con-full e-flex e-con e-child" data-id="ab82582" data-element_type="container">
                        <div class="elementor-element elementor-element-9b5c045 e-con-full e-flex e-con e-child" data-id="9b5c045" data-element_type="container">
                            <div class="elementor-element elementor-element-93154b4 elementor-position-top elementor-widget elementor-widget-image-box" data-id="93154b4" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                   <div class="elementor-image-box-wrapper d-flex gap-3">
                                       {% for teams in team %}
                                           <div class="elementor-image-box-img">
                                               <figure>
                                                   <img fetchpriority="high" decoding="async" src="{{ asset('image/' ~ teams.teamPhoto) }}" class="attachment-full size-full" style="height: 250px; width: 380px">
                                               </figure>
                                               <div class="elementor-image-box-content">
                                                   <h3 class="elementor-image-box-title">{{ teams.name }}</h3>
                                               </div>
                                           </div>
                                       {% endfor %}
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-a6a3419 elementor-widget elementor-widget-heading" data-id="a6a3419" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">NATURE A PROUD LEGACY</h3> </div>
        </div>
        <div class="elementor-element elementor-element-6f9a822 e-con-full e-flex e-con e-parent" data-id="6f9a822" data-element_type="container">
            <div class="elementor-element elementor-element-eae624a e-con-full e-flex e-con e-child pt-5 pb-0" data-id="eae624a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-ca7fe89 e-con-full e-flex e-con e-child h-100" data-id="ca7fe89" data-element_type="container">
                    <div class="elementor-element elementor-element-e335e38 e-con-full e-flex e-con e-child" data-id="e335e38" data-element_type="container">
                        <div class="elementor-element elementor-element-e980318 elementor-widget elementor-widget-heading" data-id="e980318" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default text-center">CORE VALUE</h4> </div>
                        </div>
                        <div class="elementor-element elementor-element-e980318 elementor-widget elementor-widget-heading" data-id="e980318" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">ETHICS</h4> </div>
                        </div>
                        <div class="elementor-element elementor-element-094c92d elementor-widget elementor-widget-text-editor" data-id="094c92d" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p> - We are uncompromising in our integrity, honesty and fairness </p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e980318 elementor-widget elementor-widget-heading" data-id="e980318" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">SAFETY AND HEALTH</h4> </div>
                        </div>
                        <div class="elementor-element elementor-element-094c92d elementor-widget elementor-widget-text-editor" data-id="094c92d" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p> - We are relentless in keeping people safe from harm and we provide a healthy work environment </p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e980318 elementor-widget elementor-widget-heading" data-id="e980318" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">QUALITY</h4> </div>
                        </div>
                        <div class="elementor-element elementor-element-094c92d elementor-widget elementor-widget-text-editor" data-id="094c92d" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p> -  We are passionate about excellence and doing our work right the first time. Our reputations depend on our delivered value in the eyes of every customer and community. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-a79e45f e-con-full e-flex e-con e-child pt-5 pb-0" data-id="a79e45f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-1644e9c e-con-full e-flex e-con e-child" data-id="1644e9c" data-element_type="container">
                    <div class="elementor-element elementor-element-beb9701 e-con-full e-flex e-con e-child" data-id="beb9701" data-element_type="container">
                        <div class="elementor-element elementor-element-b3ee423 elementor-widget elementor-widget-heading" data-id="b3ee423" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 class="elementor-heading-title elementor-size-default text-center">CULTURE</h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-365ddc7 elementor-widget elementor-widget-text-editor" data-id="365ddc7" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container"> We actively build a diverse, inclusive and collaborative work environment where all views are welcomed, openness is encouraged and teamwork and merit are cornerstones. We are proud of what we do and how we do it and we enjoy doing it  </div>
                        </div>
                        <div class="elementor-element elementor-element-36cf656 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="36cf656" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                 <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"><i aria-hidden="true" class="fas fa-recycle"></i> </span>
                                        <span class="elementor-icon-list-text">SUSTAINABILITY</span>
                                    </li>
                                     <p class="ms-5">We improve the quality of life in the community where we work by respecting cultures, engaging local people and protecting the environment. </p>
                                     <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"><i class="fas fa-lightbulb"></i> </span>
                                        <span class="elementor-icon-list-text">INNOVATION</span>
                                    </li>
                                     <p class="ms-5">We try and develop world class technology, we listen, learn and seek out the best ideas and apply them. We attack complacency and continually improve.</p>

                                     <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"><i class="fas fa-hands-holding-circle"></i></span>
                                        <span class="elementor-icon-list-text">RELATIONSHIPS</span>
                                    </li>
                                     <p class="ms-5">We build positive, long term relationships with our customers, joint ventures, partners, subcontractors, suppliers, and colleagues that are built on trust, respect and collaboration.</p>

                                     <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"><i class="fa-solid fa-users"></i></span>
                                        <span class="elementor-icon-list-text">PEOPLE</span>
                                    </li>
                                     <p class="ms-5">We inspire each other with important work full of purpose, challenging development opportunities and rewarding careers. We aspire to be the employer of choice in our industry.</p>

                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-da35790 e-flex e-con-boxed e-con e-parent" data-id="da35790" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-1d5a8b9 e-con-full e-flex e-con e-child" data-id="1d5a8b9" data-element_type="container">
                    <div class="elementor-element elementor-element-7aba097 elementor-widget elementor-widget-heading" data-id="7aba097" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Trust and Worth</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-2aa0a69 elementor-widget elementor-widget-heading" data-id="2aa0a69" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Our Clients</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-f520a54 elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel e-widget-swiper" data-id="f520a54" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;navigation&quot;:&quot;dots&quot;,&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default" aria-roledescription="carousel" aria-label="Carousel | Horizontal scrolling: Arrow Left &amp; Right">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-carousel-wrapper swiper swiper-initialized swiper-horizontal swiper-pointer-events" dir="ltr">
                                {% include 'front-end/client/client.html.twig' with { client : client } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}