{% extends 'front-end/layout.html.twig' %}

{% block body %}
    <div data-elementor-type="wp-page" data-elementor-id="15" class="elementor elementor-15">
        <div class="elementor-element elementor-element-9731434 e-flex e-con-boxed e-con e-parent" data-id="9731434" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-7a8f4f6 e-con-full e-flex e-con e-child" data-id="7a8f4f6" data-element_type="container">
                    <div class="elementor-element elementor-element-6e34830 elementor-widget elementor-widget-heading" data-id="6e34830" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">Contact Us</h1> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-cde39a1 e-flex e-con-boxed e-con e-parent" data-id="cde39a1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-66d5c1b e-con-full e-flex e-con e-child" data-id="66d5c1b" data-element_type="container">
                    <div class="elementor-element elementor-element-99a12a6 elementor-widget elementor-widget-heading" data-id="99a12a6" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Our Branches</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-ea22402 elementor-widget elementor-widget-heading" data-id="ea22402" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Contact Details</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-28b9c6b e-con-full e-flex e-con e-child" data-id="28b9c6b" data-element_type="container">
                        <div class="elementor-element elementor-element-90f4e8a e-con-full e-flex e-con e-child" data-id="90f4e8a" data-element_type="container">
                            <div class="elementor-element elementor-element-0171b17 elementor-widget elementor-widget-heading" data-id="0171b17" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">Canada Head Office</h3> </div>
                            </div>
                            <div class="elementor-element elementor-element-8c322e3 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="8c322e3" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content">
                                            <h4 class="elementor-image-box-title">Address:</h4>
                                            <p class="elementor-image-box-description">75 Tower Court Kernersville, NC 27284 PO Box<br> 6658 Rockhild SDT 2505</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-d359d2b elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="d359d2b" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Phone:</h4><p class="elementor-image-box-description">+1 (238) 456 7894</p></div></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1746dc9 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="1746dc9" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Email:</h4><p class="elementor-image-box-description">contact@example.com<br>support@example.com</p></div></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-afd5bad elementor-widget elementor-widget-button" data-id="afd5bad" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm" href="https://websitedemos.net/construction-company-02/contact-us/#">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text">Get Appointment</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-00119d7 e-con-full e-flex e-con e-child" data-id="00119d7" data-element_type="container">
                            <div class="elementor-element elementor-element-1d89e36 elementor-widget elementor-widget-google_maps" data-id="1d89e36" data-element_type="widget" data-widget_type="google_maps.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-custom-embed">
{#                                        <iframe loading="lazy" src="./Contact Us - Construction Company_files/maps.html" title="canada, toronto" aria-label="canada, toronto"></iframe>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a6768f7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a6768f7" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-42c73df e-con-full e-flex e-con e-child" data-id="42c73df" data-element_type="container">
                        <div class="elementor-element elementor-element-2df4279 e-con-full e-flex e-con e-child" data-id="2df4279" data-element_type="container">
                            <div class="elementor-element elementor-element-19357ee elementor-widget elementor-widget-heading" data-id="19357ee" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Denver Head Office</h3> </div>
                            </div>
                            <div class="elementor-element elementor-element-7bf69e9 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="7bf69e9" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content">
                                            <h4 class="elementor-image-box-title">Address:</h4>
                                            <p class="elementor-image-box-description">75 Tower Court Kernersville, NC 27284 PO Box<br> 6658 Rockhild SDT 2505</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-ef55cf1 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="ef55cf1" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Phone:</h4><p class="elementor-image-box-description">+1 (238) 456 7894</p></div></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-b9d31a5 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="b9d31a5" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content">
                                            <h4 class="elementor-image-box-title">Email:</h4>
                                            <p class="elementor-image-box-description">contact@example.com<br>support@example.com</p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-ac6649f elementor-widget elementor-widget-button" data-id="ac6649f" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm" href="https://websitedemos.net/construction-company-02/contact-us/#">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text">GET APPOINTMENT</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c157b1a e-con-full e-flex e-con e-child" data-id="c157b1a" data-element_type="container">
                            <div class="elementor-element elementor-element-0c181ac elementor-widget elementor-widget-google_maps" data-id="0c181ac" data-element_type="widget" data-widget_type="google_maps.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-custom-embed">
{#                                        <iframe loading="lazy" src="./Contact Us - Construction Company_files/maps(1).html" title="canada, toronto" aria-label="canada, toronto"></iframe>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a6768f7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a6768f7" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d05fdba e-con-full e-flex e-con e-child" data-id="d05fdba" data-element_type="container">
                        <div class="elementor-element elementor-element-9872168 e-con-full e-flex e-con e-child" data-id="9872168" data-element_type="container">
                            <div class="elementor-element elementor-element-80934f9 elementor-widget elementor-widget-heading" data-id="80934f9" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Malmo head office</h3> </div>
                            </div>
                            <div class="elementor-element elementor-element-6c4e6ae elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="6c4e6ae" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content">
                                            <h4 class="elementor-image-box-title">Address:</h4>
                                            <p class="elementor-image-box-description">75 Tower Court Kernersville, NC 27284 PO Box<br> 6658 Rockhild SDT 2505</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-e7a2841 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="e7a2841" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Phone:</h4>
                                            <p class="elementor-image-box-description">+1 (238) 456 7894</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-0800df0 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="0800df0" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Email:</h4>
                                            <p class="elementor-image-box-description">contact@example.com<br>support@example.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-c9f7ddf elementor-widget elementor-widget-button" data-id="c9f7ddf" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm" href="https://websitedemos.net/construction-company-02/contact-us/#">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text">GET APPOINTMENT</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-79fe3e8 e-con-full e-flex e-con e-child" data-id="79fe3e8" data-element_type="container">
                            <div class="elementor-element elementor-element-77a6cf8 elementor-widget elementor-widget-google_maps" data-id="77a6cf8" data-element_type="widget" data-widget_type="google_maps.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-custom-embed">
{#                                        <iframe loading="lazy" src="{{ path('home_map1') }}" title="canada, toronto" aria-label="canada, toronto"></iframe>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}