{% extends 'front-end/layout.html.twig' %}

{% block body %}
    <div data-elementor-type="wp-page" data-elementor-id="15" class="elementor elementor-15">
        <div class="elementor-element elementor-element-9731434 e-flex e-con-boxed e-con e-parent" data-id="9731434" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-7a8f4f6 e-con-full e-flex e-con e-child" data-id="7a8f4f6" data-element_type="container">
                    <div class="elementor-element elementor-element-6e34830 elementor-widget elementor-widget-heading" data-id="6e34830" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">Contact Us</h1> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-cde39a1 e-flex e-con-boxed e-con e-parent" data-id="cde39a1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-66d5c1b e-con-full e-flex e-con e-child" data-id="66d5c1b" data-element_type="container">
                    <div class="elementor-element elementor-element-99a12a6 elementor-widget elementor-widget-heading" data-id="99a12a6" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Our Branches</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-ea22402 elementor-widget elementor-widget-heading" data-id="ea22402" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Contact Details</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-28b9c6b e-con-full e-flex e-con e-child" data-id="28b9c6b" data-element_type="container">
                        <div class="elementor-element elementor-element-90f4e8a e-con-full e-flex e-con e-child p-0" data-id="90f4e8a" data-element_type="container">
                            <div class="elementor-element elementor-element-7671b54 e-con-full e-flex e-con e-child" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-element elementor-element-2f3bd83 elementor-widget elementor-widget-heading" id="requestForm" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Request a Quote</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7cd7504 elementor-widget elementor-widget-text-editor" data-id="7cd7504" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        Ready to Work Together? Build a project with us!
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-b60bcfc elementor-widget elementor-widget-wpforms" data-id="b60bcfc" data-element_type="widget" data-widget_type="wpforms.default">
                                    <div class="elementor-widget-container">
                                        <div class="wpforms-container" id="requestFormContainer">
                                            {% include 'front-end/home/_request_content.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c157b1a e-con-full e-flex e-con e-child" data-id="c157b1a" data-element_type="container">
                            <div class="elementor-element elementor-element-0c181ac elementor-widget elementor-widget-google_maps" data-id="0c181ac" data-element_type="widget" data-widget_type="google_maps.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-custom-embed">
                                        <img src="img/vision-builcon-map.png" style="padding-left:10px; height:100%" title="gujarat, ahmedabad" aria-label="gujarat, ahmedabad">
                                        </img>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}