{% extends 'front-end/layout.html.twig' %}

{% block body %}
    <div data-elementor-type="wp-page" data-elementor-id="15" class="elementor elementor-15">
        <div class="elementor-element elementor-element-9731434 e-flex e-con-boxed e-con e-parent" data-id="9731434" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-7a8f4f6 e-con-full e-flex e-con e-child" data-id="7a8f4f6" data-element_type="container">
                    <div class="elementor-element elementor-element-6e34830 elementor-widget elementor-widget-heading" data-id="6e34830" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">Contact Us</h1> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-cde39a1 e-flex e-con-boxed e-con e-parent" data-id="cde39a1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-66d5c1b e-con-full e-flex e-con e-child" data-id="66d5c1b" data-element_type="container">
                    <div class="elementor-element elementor-element-99a12a6 elementor-widget elementor-widget-heading" data-id="99a12a6" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Our Branches</h3> </div>
                    </div>
                    <div class="elementor-element elementor-element-ea22402 elementor-widget elementor-widget-heading" data-id="ea22402" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Contact Details</h2> </div>
                    </div>
                    <div class="elementor-element elementor-element-28b9c6b e-con-full e-flex e-con e-child" data-id="28b9c6b" data-element_type="container">
                        <div class="elementor-element elementor-element-90f4e8a e-con-full e-flex e-con e-child" data-id="90f4e8a" data-element_type="container">
                            <div class="elementor-element elementor-element-0171b17 elementor-widget elementor-widget-heading" data-id="0171b17" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Ahmedabad Head Office</h3> </div>
                            </div>
                            <div class="elementor-element elementor-element-8c322e3 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="8c322e3" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper">
                                        <div class="elementor-image-box-content">
                                            <h4 class="elementor-image-box-title">Address:</h4>
                                            <p class="elementor-image-box-description">19 sanidhya skyrose,<br>Near vandematram railway crossing,<br>Gota-382481<br>Ahmedabad, Gujarat</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-d359d2b elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="d359d2b" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Phone:</h4><p class="elementor-image-box-description">(+91) 88668 86698<br>(+91) 92747 47479</p></div></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1746dc9 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="1746dc9" data-element_type="widget" data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Email:</h4><p class="elementor-image-box-description">info@visionbuildcon.com<br>contact@visionbuildcon.com</p></div></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-afd5bad elementor-widget elementor-widget-button" data-id="afd5bad" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text">Get Appointment</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}